@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'droid_sansregular';
	src: url('../fonts/DroidSans.ttf');
}

@font-face {
	font-family: 'bedas';
	src: url('../fonts/bedas.ttf');
}

img {
	border: none;
}

body {
	font-family: 'droid_sansregular';
	color: #444444;
	padding: 0;
	width: 80%;
	margin: auto;
}

html, body {
	height: 100%;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

p {
	text-align: justify;
}

h1 {
	font-size: 1rem;
}

.note {
	margin: 0.5rem 0;
}

.small {
	font-size: 0.7rem;
}
